<div class="mt-8 mx-5 bg-zinc-300 rounded-xl drop-shadow-xl" id="chat">
    <div class="py-4 px-5 bg-gradient-to-r from-blue-600 to-zinc-900 rounded-xl">
        <p class="text-white text-3xl font-bold drop-shadow-lg tracking-widest">Live Chat</p>
    </div>
    <div class="p-8">
      <p onclick="location.href='https://itats-ac-id.chatango.com'" class="text-white text-3xl font-bold text-center px-20 py-10 bg-blue-600 rounded-lg">
        OPEN CHAT
      </p>
    </div>
</div>