<div id="hero" class="w-full bg-center bg-cover h-[20rem]" style="background-image: url('https://media.discordapp.net/attachments/972016247795515454/1082253654108688464/AF1QipPDTcRFdANr8GlPapnrGwaOJumdbozzpxvluEass680-w680-h510.png');">
    <div class="flex items-center justify-center w-full h-full bg-zinc-900/75">
        <div class="text-center">
            <h1 class="text-5xl font-semibold text-white">Institut Teknologi Adhi Tama Surabaya</h1>
            <h2 class="text-xl font-semibold text-white mt-2">Jl Arief Rahman Hakim No.100, Surabaya, Jawa Timur</h2>
        </div>
    </div>
</div>