<footer class="bg-zinc-300 mt-8">
    <div class="container px-6 py-8 mx-auto">
        <div class="flex flex-col items-center text-center">
            <a href="#">
                <img class="w-auto h-20" src="https://cdn.discordapp.com/attachments/972016247795515454/1082249264014569513/itats.png">
            </a>
            <p class="text-xl max-w-md mx-auto mt-4 text-gray-500">App Version - Beta v<%= data.info.version %></p>
        </div>

        <hr class="my-5 border-gray-200" />

        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-xl text-gray-500">© Copyright 2023 - All Rights Reserved.</p>
            <div class="flex mt-3 -mx-2 sm:mt-0">
                <p class="text-xl text-gray-500">Developed with <i class="fa-solid fa-heart"></i> by <a href="https://instagram.com/d.avux" class="text-blue-600">Avux</a></p>
            </div>
        </div>
    </div>
</footer>