<nav class="bg-white drop-shadow-xl">
    <div class="container flex flex-col items-center p-6 mx-auto">
        <img class="mx-auto w-auto h-20"
            src="https://cdn.discordapp.com/attachments/972016247795515454/1082249264014569513/itats.png">
    </div>
</nav>